.home {
  @apply flex h-full w-full flex-row items-center justify-center;

  &_label {
    @apply flex h-full text-white justify-start;
  }

  &_wrapper {
    @apply flex flex-row w-full justify-center items-center;
    height: 100%;
  }

  &_img {
    @apply absolute bg-cover rounded h-full w-full;
    content: '';
    width: 40%;
    right: 0;
    background-repeat: no-repeat;
    background-image: url('public/assets/concuter.jpg'),
      linear-gradient(135deg, rgba(22, 20, 19, 1), rgba(255, 255, 255, 0) 100%);
    // background-color: rgba(255, 186, 8, 0.4);
    background-blend-mode: multiply;
    //filter: drop-shadow(0 0 5px #000);

    &:before {
      position: absolute;
      left: -5px;
      content: '';
      width: 5px;
      height: 100%;
      background: rgba(255, 186, 8, 1);
    }
  }
}
