$items_count: 3;

.navigation {
  @apply flex flex-col w-full fixed bottom-0 left-0;
  @include glass_background;
  border: 0;
  font-size: 0.7rem;

  &_label {
    @apply flex w-full justify-center;
  }

  &_btn {
    @apply flex break-keep p-4;
    flex: 1;

    &_container {
      @apply flex flex-row justify-center;
      height: 50px;
    }

    &:hover {
      @apply cursor-pointer text-yellow;
      transition: 0.5s all;
    }

    &_selected {
      @apply flex text-yellow justify-center;
      transition: 0.5s all;
      flex: var(--menu-items-count);
      //&:hover {
      //  font-size: 0.9rem;
      //}
    }
  }
}
