#navigation {
  @apply flex flex-col items-end w-fit fixed right-0 top-0 w-fit my-0.5 h-full justify-between;

  .menu_hold {
    @apply flex flex-row text-orange cursor-pointer bg-white rounded-bl w-full p-3;
    user-select: none;

    &_icon {
      @apply flex flex-col w-6 text-orange justify-evenly items-end h-6;

      hr {
        @apply bg-orange;
        width: 75%;
        height: 2px;
        //animation: moving 1s infinite;
      }

      hr:first-child {
        width: 100%;
      }

      hr:last-child {
        width: 50%;
      }
    }

    &_label {
      @apply flex items-center max-w-0;
      span {
        overflow: hidden;
      }
    }
  }

  .socials_holder {
    @apply flex-row-reverse flex w-fit justify-center items-center;

    &_socials {
      @apply flex flex-col w-full bg-orange rounded-tl;
      height: 15rem;

      &_icon {
        @apply flex w-full h-full justify-center align-middle;
        width: 3rem;
        transition: all 0.5s;

        svg {
          @apply self-center;
        }

        &:last-child {
          @apply rounded-b;
        }

        &:hover {
          @apply bg-white cursor-pointer rounded;
          scale: 0.9;
          transition: all 0.75s;

          svg {
            @apply text-orange;
          }
        }
      }
    }

    &_toggle {
      @apply mr-2;
      &:hover {
        @apply cursor-pointer;
      }
    }
  }
}

@keyframes moving {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.exit {
  max-width: 0;
  margin-left: 0;
}

.open {
  max-width: 50px;
  margin-left: 0.5rem;
}
