@use "src/styles/variables.scss" as *;

.menu-tile {
  @apply inline-flex self-start flex-col ml-1;
  color: $magnolia;

  &:hover &-mark {
    width: calc(100% + 45px);

    &::after {
      height: 50px;
      width: 5px;
      background-color: #9198e5;
    }
  }

  &-mark {
    @apply flex;
    height: 10px;
    width: 40px;
    margin-top: -25px;
    margin-left: -30px;
    background-color: $maximumBlueGreen;
    transition: all 0.5s;
  }
}

.menu-tile-title {
  @apply flex flex-col flex-initial;
  div {
    span {
      @apply block z-10;
    }
  }
}
