//Tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$black: #161413;
//$white: #eff9f0;F9F7EF
$white: #fff;
$yellow: #ffba08;
$grey: #857e7b;
$orange: #ec4e20;

@mixin glass_background {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
