//Tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$black: #161413;
//$white: #eff9f0;F9F7EF
$white: #fff;
$yellow: #ffba08;
$grey: #857e7b;
$orange: #ec4e20;
