#navigation {
  @apply flex w-fit fixed right-0 top-0 w-fit mr-0.5 my-0.5;
  .socials_holder {
    @apply flex-row-reverse flex w-fit justify-center items-center;
    font-family: 'Lato', serif;

    &_socials {
      @apply flex flex-col w-full bg-orange rounded;
      height: 15rem;
      &_icon {
        @apply flex w-full h-full justify-center align-middle;
        width: 3rem;
        transition: all 0.5s;

        svg {
          @apply self-center;
        }

        &:first-child {
          @apply rounded-bl;
        }
        &:last-child {
          @apply rounded-br;
        }

        &:hover {
          @apply bg-white cursor-pointer;
          transition: all 0.5s;
          svg {
            @apply text-orange;
          }
        }
      }
    }
    &_toggle {
      @apply mr-2;
      &:hover {
        @apply cursor-pointer;
      }
    }
  }
}

@keyframes hr-animate {
  0% {
    @apply bg-orange;
    background-position: 100% 0%;
  }
  50% {
    @apply bg-amber-800;
    background-position: 15% 100%;
  }
  100% {
    @apply bg-orange;
    background-position: 100% 0%;
  }
}
