@keyframes hr-animate {
  0% {
    @apply bg-orange;
    background-position: 100% 0%;
  }
  50% {
    @apply bg-amber-800;
    background-position: 15% 100%;
  }
  100% {
    @apply bg-orange;
    background-position: 100% 0%;
  }
}
